
@{
    ViewBag.Title = "Product";
}


<!-- Page Header Start here -->
<section class="page-header section-notch">
    <div class="overlay">
        <div class="container">
            <h3>Our Shop Pages</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>-</li>
                <li>Shop</li>
            </ul>
        </div><!-- container -->
    </div><!-- overlay -->
</section><!-- page header -->
<!-- Page Header End here -->
<!-- Product start here -->
<section class="product padding-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-xs-12 post-item-pagination">
                <div class="product-header">
                    <p class="pull-left">Showing 01 - 12 of 139 Results</p>
                    <div class="icon hidden-xs">
                        <span id="grid" class="grid grid-active"><i class="fa fa-th" aria-hidden="true"></i></span>
                        <span id="list" class="list"><i class="fa fa-list" aria-hidden="true"></i></span>
                    </div>
                </div><!-- product header -->

                <div class="product-items">
                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct1">
                                <img src="images/product/product_01.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct1" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_01.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_02.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct2">
                                <img src="images/product/product_02.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct2" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_02.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct3">
                                <img src="images/product/product_03.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct3" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_03.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct4">
                                <img src="images/product/product_04.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct4" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_04.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_02.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct5">
                                <img src="images/product/product_05.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct5" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_05.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct6">
                                <img src="images/product/product_06.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct6" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_06.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct7">
                                <img src="images/product/product_07.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct7" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_07.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_02.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct8">
                                <img src="images/product/product_08.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct8" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_08.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct9">
                                <img src="images/product/product_09.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct9" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_09.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct10">
                                <img src="images/product/product_10.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct10" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_10.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_02.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct11">
                                <img src="images/product/product_11.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct11" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_11.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div class="product-item-grid">
                        <div class="pro-item">
                            <div class="pro-image cd-item" id="prdct12">
                                <img src="images/product/product_12.jpg" alt="product image" class="img-responsive">
                                <div class="pro-overlay"></div>
                                <a href="#" class="icon"><span class="flaticon-like-1"></span></a>
                                <a href="#" class="icon"><span class="flaticon-shopping-cart"></span></a>
                                <a href="#prdct12" class="cd-trigger icon hidden-xs hidden-sm">
                                    <span class="flaticon-search"></span>
                                </a>
                                <a href="product-details.html" class="visible-xs visible-sm icon">
                                    <span class="flaticon-search"></span>
                                </a>
                                <div class="quick-view-content">
                                    <div class="quick-view-content-wrapper">
                                        <div class="cd-slider-wrapper">
                                            <ul class="cd-slider">
                                                <li class="selected"><img src="images/product/product_12.jpg" alt="Product 1"></li>
                                                <li><img src="images/product/product_03.jpg" alt="Product 2"></li>
                                                <li><img src="images/product/product_04.jpg" alt="Product 3"></li>
                                            </ul> <!-- cd-slider -->

                                            <ul class="cd-slider-navigation">
                                                <li><a class="cd-next" href="#0">Prev</a></li>
                                                <li><a class="cd-prev" href="#0">Next</a></li>
                                            </ul> <!-- cd-slider-navigation -->
                                        </div> <!-- cd-slider-wrapper -->

                                        <div class="cd-item-info">
                                            <h4>Product Text Here</h4>
                                            <span class="pro-price">$150.00</span>
                                            <div class="pro-rating">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                            </div>
                                            <p>
                                                Globally network customer directed data and future-proof and synerlgy Energistcaly target
                                                just in time schemas without synergistic and human capital. Globally scale flexible
                                                experiences through ubiquitous.
                                            </p>
                                            <ul class="cd-item-action pro-button">
                                                <li><button>Add to cart</button></li>
                                                <li><a href="#0">Read more</a></li>
                                            </ul> <!-- cd-item-action -->
                                        </div> <!-- cd-item-info -->
                                    </div>
                                </div>
                            </div>
                            <div class="pro-content">
                                <h4><a href="product-details.html">Product Text Here</a></h4>
                                <span>$150.00</span>
                                <div class="pro-rating">
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                                </div>
                                <p>
                                    Globally network customer directed data and future-proof and synerlgy Energistcaly target just in
                                    time schemas without synergistic and human capital. Globally scale flexible experiences through
                                    ubiquitous.
                                </p>
                                <ul class="pro-button">
                                    <li><button>Add to cart</button></li>
                                    <li><a href="product-details.html">Read more</a></li>
                                </ul> <!-- cd-item-action -->
                            </div><!-- pro-content -->
                        </div> <!-- pro item -->
                    </div><!-- product-item -->

                    <div id="cd-quick-view" class="cd-quick-view">
                        <a href="javascript:void(0);" class="cd-close"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div> <!-- cd-quick-view -->
                    <div id="cd-quick-view-coverlay"></div>
                </div><!-- product items -->

                <ul class="pagination product-pagination">
                    <li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-xs-12">
                <div class="product-sidebar">
                    <div class="por-sidebar-item">
                        <form>
                            <input type="text" name="search" placeholder="Type Your Search...">
                            <button><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="widget widget-category px-2">
                        <div class="widget-header">
                            <h5>All Categories</h5>
                        </div>
                        <div class="widget-wrapper">
                            <ul class="lab-ul shop-menu">
                                <li>
                                    <a href="#0">Apple</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Apple 1</a></li>
                                        <li><a href="#">Apple 2</a></li>
                                        <li><a href="#">Apple 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Orange</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Orange 1</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Tomato</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Tomato 1</a></li>
                                        <li><a href="#">Tomato 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Honey</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Honey 1</a></li>
                                        <li><a href="#">Honey 2</a></li>
                                        <li><a href="#">Honey 3</a></li>
                                        <li><a href="#">Honey 4</a></li>
                                        <li><a href="#">Honey 5</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Banana</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Banana 1</a></li>
                                        <li><a href="#">Banana 2</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Blueberry</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Blueberry 1</a></li>
                                        <li><a href="#">Blueberry 2</a></li>
                                        <li><a href="#">Blueberry 3</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#0">Lettuce</a>
                                    <ul class="lab-ul shop-submenu">
                                        <li><a href="#">Lettuce 1</a></li>
                                        <li><a href="#">Lettuce 2</a></li>
                                        <li><a href="#">Lettuce 3</a></li>
                                        <li><a href="#">Lettuce 4</a></li>
                                        <li><a href="#">Lettuce 5</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                  
                </div><!-- product-sidebar -->
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>
<!-- Product end here -->
<!-- Subscribe Start here -->
<section class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12">
                <h3>Join Our Newsletter</h3>
            </div>
            <div class="col-lg-7 col-xs-12">
                <form action="/">
                    <input type="text" placeholder="Enter your e-mail here">
                    <input type="submit" value="Subscribe Now">
                </form>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section><!-- subscribe -->
<!-- Subscribe End here -->
